/*:root {
    --main-blue: #0C71C3;
    --link-blue: #09A7E4;
    --white: #fff;
}*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #0C71C3;
    border-color: #0C71C3;
    color: #fff;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            background-color: #09A7E4;
        }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

        .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
            color: #eee;
            background-color: transparent;
        }

.tab-pane {
    margin: 1rem;
}

.formPadding {
    padding-bottom: 1rem;
}
